.calendar {
  display: grid;
  font-family: sans-serif;
  grid-template-columns: 3em repeat(21, minmax(6em, 1fr));
  grid-template-rows: 24px repeat(64, 18px);
}

.hour {
  grid-column: 1 / 23;
  border-top: 1px solid #ccc;
}

.day {
  grid-row: 1 / 67;
  border-left: 1px solid #ccc;
  text-align: center;
}

.floor {
  grid-row: 66;
  text-align: center;
  background: #eee;
  padding: 5px 0px;
  margin: 2px
}
